<p id="notice"><%= notice %></p>

<h1>Listing Bookings</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Customer</th>
      <th scope="col">Cleaner</th>
      <th scope="col">Date</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.customer.first_name %></td>
        <td><%= booking.cleaner.first_name %></td>
        <td><%= booking.date %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path, class: "btn btn-primary" %>
