<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @customer.phone_number %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city.name %>
</p>
<% if @customer_bookings.present? %>
	<h2>Bookings</h2>
	<% @customer_bookings.each do |booking| %>
		<%= booking.date %> | <%= booking.cleaner.first_name %><br>
	<% end %>
<% else %>
	<h2>No Booking For You</h2>
<% end %>	
<br>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
